
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: "100%";
  background-color: aliceblue;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
}
.title {
  font-size: large;
  font-weight: bolder;
  padding: 10px;
}

.rating-popup,.star-rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px
}

.off{
  color: gray;
  font-size: medium;
  cursor: pointer;
}

.on{
  color: #FFC300;
}


.result {
  font-size: small;
  padding: 25px;
}


